---
---

%body-font {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

$img-dir-url: {{ 'img' | relative_url }};
$page-width: 800px;

@import 'layout/body';
@import 'layout/site-nav';