---
---
{% include get-layout-variables.html %}
{% include get-title.html %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shodor: {{ title }}</title>
    <link rel="icon" type="image/ico" href="{{ 'favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">
    <script src="{{ 'js/main.js' | relative_url }}"></script>
  </head>
  <body>
    <header>
        <a id="header-logo" href="{{ site.baseurl }}"><img
          src="{{ 'img/header-logo.jpg' | relative_url }}"
          alt="Shodor logo"/></a>
        <!-- <script async
          src="https://cse.google.com/cse.js?cx=9bc190f387578d67a"></script>
        <div id="search-box" class="gcse-search"></div> -->
    </header>
    <nav id="site-nav">
      <ul>
        {% for nav-link in site.data.nav-links %}
          <li>
            <a href="{{ nav-link.url | relative_url }}">{{ nav-link.label }}</a>
            {% if nav-link.sublinks %}
              <ul class="sublist">
                {% for nav-sublink in nav-link.sublinks %}
                  <li>
                    {% assign first-four-chars = nav-sublink.url
                      | slice: 0, 4 %}
                    {% if first-four-chars == "http" %}
                      {% assign url = nav-sublink.url %}
                    {% else %}
                      {% assign url = nav-sublink.url | relative_url %}
                    {% endif %}
                    <a href="{{ url }}">{{ nav-sublink.label }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    {{ content }}
    <footer class="bg-img">
      <div id="btmTxtStrip">
        <span>
          <a href="http://www.shodor.org">&copy;
            1994–{{ "now" | date: "%Y" }} Shodor</a>
        </span>
        <span id="privacy-policy">
          <a href="{{ '/about/privacy/' | relative_url }}">
           PRIVACY POLICY</a>
        </span>
        <span >
          <a href="{{ '/about/donate/' | relative_url }}">
            <img id="donate" src="{{ 'img/donate.gif' | relative_url }}" />
          </a>
        </span>
        <span>
          <a href="https://nsdl.oercommons.org/" target="_blank">
            <img id="nsdl-logo" src="{{ 'img/nsdl.gif' | relative_url }}" width="120" />
          </a>
        </span>
      </div>
    </footer>
  </body>
</html>